h1{
    text-align: center;
    
    font-size: 40px;
    text-decoration: underline;
 
 }

h2{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: underline;
}
p{
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    font-style: italic;

}
ul{
font-size: 20px;    
}
a{
    background-color:white;
    border-style: dashed;
    font-size: 20px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
 display: block; 
 margin: auto;
}